[MAIN]
ignore=third_party
jobs=4
unsafe-load-any-extension=no

[REPORTS]
output-format=text
files-output=no

[BASIC]
good-names=i,j,k,ex,Run,_
bad-names=foo,bar,baz,toto,tutu,tata
include-naming-hint=no

[ELIF]
max-nested-blocks=5

[TYPECHECK]
ignore-mixin-members=yes

[FORMAT]
max-line-length=160